 <style>
    .profile img {
      width: 200px;
      height: 200px;
      float: left;
      margin-right: 20px;
        border: 1px solid gainsboro;
    }
  </style>

{% extends 'app/base.html' %} {% load static %} {% block title %} About
{%endblock title %}

{% block main-content %}
<div class="container mt-3">
  <br />
  <h2 class="text-center">About Us</h2>
  <br />

</div>

    <div class="container">

    <div class="profile">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'app\images\about\wurie.jpg' %}" alt="Person 1">
          <h5>Amadu Wurie Bah</h5>
        </div>
        <div class="col-md-8">
          <p>I am Amadu Wurie Bah, the group leader for the development of this AgricTech E-Farming website. 
            I have a versatile background in both frontend and backend development, allowing me to contribute to various aspects of our projects. 
            With my diverse skill set, i wrote codes for both frontend and backend ensuring a seamless user experience from start to finish. 
            I worked on the customer registration form, login form, product page, product details page and add to cart page.
            I also contributed significantly to report documentation, ensuring comprehensive project records.
            I thrive in navigating complex technical challenges and collaborating effectively with team members, fostering a positive and productive work environment.

            Continuous learning is important to me, and I stay up to date with the latest industry trends to ensure our projects remain cutting-edge. As a natural leader, 
            I guide our team towards successful project completion, leveraging strong communication and collaboration skills.</p>
        </div>
      </div>
      <hr>
    </div>

    <div class="profile">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'app\images\about\Momodu.jpg' %}" alt="Momodu">
          <h3>Momodu Saio Sesay</h3>
        </div>
        <div class="col-md-8">
          <p>I am Momodu Saio Sesay,  I am  a graduate from the University of Makeni(UNIMAK) I am a Barchelors of Science degree holder in Computer Science , I am a Front_end and Back_end developer,
             with vast knowledge in HTML,CSS,Javascript,PHP,Python, Django and Database. which enable me to  develop alot of web applications and took active role in developing this project.  I am presently pursing my MSC in Software enginnering  at  the College of Software Enginnering, Nankai University.I contributed in putting ideas together and developing of  the Front_end, I also contributed in doing the writeup </p>
        </div> 
      </div>
      <hr>
    </div>

    <div class="profile">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'app\images\about\kadija.jpg' %}" alt="Kadija">
          <h3>Kadijatu Kubra Bah</h3>
        </div>
        <div class="col-md-8">
          <p>I am Kadijatu Bah from university of makeni (UNIMAK) Sierra Leone West Africa. I’m a bachelor’s degree holder in computer science and postgraduate training in software Application development (UBUNTU Tec Afrika), currently doing my master’s in software engineering at Nankai university China.

I am proficient in writing code to create software applications. My skills and knowledge enable me to analyze problems, design solutions, and implement them using programming languages and development tools. Working in software company help me to understand how to build web site, the language I know Java, Python, C++, C, VB, PHP, ASP, HTML, CSS, JavaScript, and Database

Throughout the design process, we work as team to understand project goals and gather requirements for the website. I work on backend write code using Python language and Database, using MySQL to design and manage the storage and retrieval of data, we use API to communicate between the frontend and the backend</p>
        </div>
      </div>
      <hr>
    </div>

    <div class="profile">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'app\images\about\thompson.jpg' %}" alt="Tommy">
          <h3>Tommy Thompson</h3>
        </div>
        <div class="col-md-8">
          <p>I am Tommy Thompson from Njala university Sierra Leone West Africa .I am a bachelors degree holder in computer science and currently doing my masters in software engineering at Nankai university China.

            I am proficient in HTML, CSS, and JavaScript, which allows me to bring my designs to life and create interactive and dynamic web experiences. I also stay up to date with the latest design trends and best practices to ensure that my clients’ websites are modern and visually appealing.
            
            Throughout the design process, I maintain open communication with my clients, seeking their feedback and making necessary revisions to ensure their satisfaction. My goal is to deliver a website that not only looks great but also achieves its intended purpose, whether it’s to generate leads, sell products, or provide information.
            
            I am passionate about creating websites that not only meet my clients expectations but also exceed them. I am dedicated to providing a seamless and enjoyable experience for website visitors, helping my clients achieve their online goals</p>
        </div>
      </div>
    </div>
  </div>

    <br><br>  <br><br>
{% endblock main-content %} I

